DB_URL=jdbc:postgresql://localhost:5432/economize
DB_USERNAME=economize
DB_PASSWORD=substitua-pela-senha-local
JWT_CHAVE_PUBLICA=.certs/jwt-public.pem
JWT_CHAVE_PRIVADA=.certs/jwt-private.pem
JWT_EXPIRACAO_SEGUNDOS=900
